<?xml version="1.0" encoding="utf-8" standalone="yes"?>

<!--
#
#
#    Copyright (C) 2021  Alin Cretu
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with this program.  If not, see <https://www.gnu.org/licenses/>.
#
#
-->

<settings version="1">
  <section id="plugin.video.TVOnline.ro">
    <category id="Accounts" label="30101" help="">
      <group id="DigiOnline.ro" label="30102">  
        <setting id="digionline_Enabled" type="boolean" label="30103" help="">
          <level>0</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>
        <setting id="digionline_Username" type="string" label="30104" help="" parent="digionline_Enabled">
          <level>0</level>
          <default>__DEFAULT_USER__</default>
          <constraints>
            <allowempty>false</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>30104</heading>
          </control>
          <dependencies>
            <dependency type="visible" setting="digionline_Enabled">true</dependency>
          </dependencies>
        </setting>
        <setting id="digionline_Password" type="string" label="30105" help="" parent="digionline_Enabled">
          <level>0</level>
          <default>__DEFAULT_PASSWORD__</default>
          <constraints>
            <allowempty>false</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>30105</heading>
            <hidden>true</hidden>
          </control>
          <dependencies>
            <dependency type="visible" setting="digionline_Enabled">true</dependency>
          </dependencies>
        </setting>
        <setting id="digionline_BehaveAs" type="integer" label="30118" help="" parent="digionline_Enabled">
          <level>0</level>
          <default>0</default>
            <constraints>
              <options>
                <option label="30122">0</option>
                <option label="30123">1</option>
              </options>
            </constraints>
            <control type="spinner" format="string"/>
          <dependencies>
            <dependency type="visible" setting="digionline_Enabled">true</dependency>
          </dependencies>
          </setting>
        <setting id="digionline_PhoneDeviceManufacturer" type="string" label="30106" help="" parent="digionline_BehaveAs">
          <level>0</level>
          <default>__DEFAULT_DEVICE_MAUFACTURER__</default>
          <constraints>
            <allowempty>false</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>30106</heading>
          </control>
          <dependencies>
            <dependency type="visible">
              <and>
                <condition setting="digionline_Enabled">true</condition>
                <condition setting="digionline_BehaveAs">0</condition>
              </and>
            </dependency>
          </dependencies>
        </setting>
        <setting id="digionline_PhoneDeviceModel" type="string" label="30107" help="" parent="digionline_BehaveAs">
          <level>0</level>
          <default>__DEFAULT_DEVICE_MODEL__</default>
          <constraints>
            <allowempty>false</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>30107</heading>
          </control>
          <dependencies>
            <dependency type="visible">
              <and>
                <condition setting="digionline_Enabled">true</condition>
                <condition setting="digionline_BehaveAs">0</condition>
              </and>
            </dependency>
          </dependencies>
        </setting>
        <setting id="digionline_PhoneAndroidVersion" type="string" label="30108" help="" parent="digionline_BehaveAs">
          <level>0</level>
          <default>__DEFAULT_ANDROID_VERSION__</default>
          <constraints>
            <allowempty>false</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>30108</heading>
          </control>
          <dependencies>
            <dependency type="visible">
              <and>
                <condition setting="digionline_Enabled">true</condition>
                <condition setting="digionline_BehaveAs">0</condition>
              </and>
            </dependency>
          </dependencies>
        </setting>
        <setting id="digionline_TVDeviceModel" type="string" label="30119" help="" parent="digionline_BehaveAs">
          <level>0</level>
          <default>__DEFAULT_DEVICE_MODEL__</default>
          <constraints>
            <allowempty>false</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>30119</heading>
          </control>
          <dependencies>
            <dependency type="visible">
              <and>
                <condition setting="digionline_Enabled">true</condition>
                <condition setting="digionline_BehaveAs">1</condition>
              </and>
            </dependency>
          </dependencies>
        </setting>
        <setting id="digionline_TVAndroidVersion" type="string" label="30120" help="" parent="digionline_BehaveAs">
          <level>0</level>
          <default>__DEFAULT_ANDROID_VERSION__</default>
          <constraints>
            <allowempty>false</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>30120</heading>
          </control>
          <dependencies>
            <dependency type="visible">
              <and>
                <condition setting="digionline_Enabled">true</condition>
                <condition setting="digionline_BehaveAs">1</condition>
              </and>
            </dependency>
          </dependencies>
        </setting>

        <setting id="digionline_TVPlatform" type="string" label="30121" help="" parent="digionline_BehaveAs">
          <level>0</level>
          <default>Android</default>
          <constraints>
            <allowempty>false</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>30121</heading>
          </control>
          <visible>false</visible>
        </setting>

      </group>
      <group id="voyo.ro" label="30109">
        <setting id="voyo_Enabled" type="boolean" label="30103" help="">
          <level>0</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>
        <setting id="voyo_Username" type="string" label="30104" help="" parent="voyo_Enabled">
          <level>0</level>
          <default>__DEFAULT_USER__</default>
          <constraints>
            <allowempty>false</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>30104</heading>
          </control>
          <dependencies>
            <dependency type="visible" setting="voyo_Enabled">true</dependency>
          </dependencies>
        </setting>
        <setting id="voyo_Password" type="string" label="30105" help="" parent="voyo_Enabled">
          <level>0</level>
          <default>__DEFAULT_PASSWORD__</default>
          <constraints>
            <allowempty>false</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>30105</heading>
            <hidden>true</hidden>
          </control>
          <dependencies>
            <dependency type="visible" setting="voyo_Enabled">true</dependency>
          </dependencies>
        </setting>
      </group>
    </category>
    <category id="GeneralSettings" label="30110" help="">
      <group id="Display" label="30111">
        <setting id="ShowTitleInChannelList" type="boolean" label="30112" help="">
          <level>0</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>
        <setting id="DebugEnabled" type="boolean" label="30113" help="">
          <level>0</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>
      </group>
    </category>
    <category id="SimplePVRIntegration" label="30114" help="">
      <group id="DataFiles" label="30115">
        <setting id="PVRIPTVSimpleClientIntegration_m3u_FileRefreshTime" type="time" label="30116" help="">
          <level>0</level>
          <default>00:05</default>
          <control type="button" format="time">
            <heading>30116</heading>
          </control>
        </setting>
        <setting id="PVRIPTVSimpleClientIntegration_EPG_FileRefreshTime" type="time" label="30117" help="">
          <level>0</level>
          <default>00:10</default>
          <control type="button" format="time">
            <heading>30117</heading>
          </control>
        </setting>
      </group>
    </category>
  </section>
</settings>

